div{
    font-size: 30px;
}
table{
   border-collapse: collapse;
}
td,th{
    border: 1px solid black;
}
.input{
    font-size: 20px;
  margin: 20px;
  background-color: aquamarine;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.fii{
    background-color: aquamarine;
    margin: 4px;
    padding: 10px;
}